@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 0 72% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 0 0% 90%;
    --muted-foreground: 20 9% 35%;
    --accent: 0 0% 94%;
    --accent-foreground: 20 14.3% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72% 51%;
    --chart-1: 0 72% 51%;
    --chart-2: 0 62% 45%;
    --chart-3: 0 72% 61%;
    --chart-4: 0 72% 71%;
    --chart-5: 0 72% 81%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 63% 51%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72% 51%;
    --chart-1: 0 72% 51%;
    --chart-2: 0 62% 45%;
    --chart-3: 0 72% 61%;
    --chart-4: 0 72% 71%;
    --chart-5: 0 72% 81%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
