@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 34 78% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 34 78% 93%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 34 78% 91%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 348 83% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 16 72% 80%;
    --secondary-foreground: 20 14.3% 4.1%;
    --muted: 34 20% 85%;
    --muted-foreground: 20 9% 35%;
    --accent: 16 72% 69%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 34 20% 80%;
    --input: 34 20% 80%;
    --ring: 348 83% 47%;
    --chart-1: 348 83% 47%;
    --chart-2: 16 72% 69%;
    --chart-3: 34 78% 70%;
    --chart-4: 348 83% 67%;
    --chart-5: 16 72% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 98%;
    --card: 20 14.3% 6.1%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 348 83% 57%;
    --primary-foreground: 0 0% 9%;
    --secondary: 16 72% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 20 14.3% 10.1%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 16 72% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 20 14.3% 12.1%;
    --input: 20 14.3% 12.1%;
    --ring: 348 83% 57%;
    --chart-1: 348 70% 50%;
    --chart-2: 16 60% 45%;
    --chart-3: 34 80% 55%;
    --chart-4: 348 65% 60%;
    --chart-5: 16 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
